<h2>New Blog Post</h2>

<div>
  <h4>{{input value=title}}</h4>
  {{textarea value=body cols="45" rows="5"}}
</div>

<br>
<button {{action 'save'}}>Save</button>
<button {{action 'cancel'}}>Cancel</button>
