{{#em-modal-toggler modal-id="new-post" class="btn btn-secondary"}}Add Post{{/em-modal-toggler}}

{{new-post action="savePost"}}

<div class="row">
  {{#each post in model}}
    {{blog-item post=post}}
  {{/each}}
</div><!--/row-->

{{outlet}}