{{#em-modal-toggler modal-id="new-post" class="btn btn-secondary"}}Add Post{{/em-modal-toggler}}

{{new-post action="savePost"}}

<div class="row">
  {{#each post in model}}
    {{#draggable-object content=post}}
      {{blog-item post=post}}
    {{/draggable-object}}
  {{/each}}
</div><!--/row-->

{{#draggable-object-target action="deletePost"}}
  {{fa-icon "trash" size=4}}
{{/draggable-object-target}}

{{outlet}}